run = "go run ."
modules = ["go-1.21", "nix"]

[nix]
channel = "stable-23_11"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "go run ."]
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 8000
externalPort = 80
